* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif !important;
}

/* Clases reutilizables */

.gradient {
  background: linear-gradient(rgb(109, 22, 101) 30%, rgb(238, 0, 151) 80%);
}

.high {
	height: 100vh;
}

.container-flex-column {
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2em;
}

.flex-item {
	display: flex;
	justify-content: flex-end;
}

.container-flex-row {
  display: flex;
	justify-content: space-around;
}

.back-button {
	font-size: 1.5em;
	color: #E719BB;
}

.next-button {
	background-color: #ED1F96;
	color: #FFFFFF;
	font-weight: bold;
	width: 100%;
	padding: 0.8em;
	margin: 1em 0;
}

.btn-padding {
	padding: 1px 12px;
}

.group-container {
	margin: 1em 0;
}

/* Home */

.bg-night {
	background-image: url('../assets/images/night.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100vh;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn-white {
	border: 0.1em solid #FFFFFF;
	color: #FFFFFF;
	padding: 1em;
}

/* Log In*/

.centered-text {
	text-align: center;
}

/* Sign up */

.box-size {
	min-width: 25vw;
}

.img-icon {
	width: 5vh;
}
