* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif !important;
}

/* Clases reutilizables */

.gradient {
	background: #D80088;
	background-repeat: no-repeat;
}

.high {
	height: 100vh;
}

.container-flex-column {
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2em;
}

.border {
	border-radius: 2em;
}

.flex-item {
	display: flex;
	justify-content: flex-end;
}

.container-flex-row {
  display: flex;
	justify-content: space-around;
}

.back-button {
	font-size: 1.5em;
	color: #E719BB;
}

.next-button {
	background-color: #ED1F96;
	color: #FFFFFF;
	font-weight: bold;
	width: 100%;
	padding: 0.8em;
	margin: 1em 0;
}

.btn-padding {
	padding: 1px 12px;
}

.group-container {
	margin: 1em 0;
}

/* Home */

.bg-night {
	background-image: url('../assets/images/night-mobile.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100vh;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn-white, .btn-rose {
	width: 7em;
	padding: 1em;
}

.btn-white {
	background-color: #FFFFFF;
	color: #D80088;
}

.btn-rose {
	background-color: #D80088;
	color: #FFFFFF;
}

.btn-white:hover, .btn-white:visited {
	color: #D80088;
}

.btn-rose:hover, .btn-rose:visited {
	color: #FFFFFF;
}

.btn-white:active, .btn-rose:active {
	color: rgb(219, 219, 219);
}

/* Log In*/

.centered-text {
	text-align: center;
}

/* Sign up */

.box-size {
	min-width: 25vw;
}

.img-icon {
	width: 5vh;
}

@media (min-width: 768px) {
	picture img {
		width: 20%;
		margin-left: 40%;
	}

	.border {
		border-radius: 0;
	}

	.gradient {
		background: linear-gradient(rgb(109, 22, 101) 20%, rgb(238, 0, 151) 80%);
	}

	.bg-night {
		background-image: url('../assets/images/night-desktop.jpg');
		background-size: 100vw 100vh;
	}

	.btn-white, .btn-rose {
		width: 10em;
	}
}
