<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Home</title>
    <!-- Icons -->
    <link rel="shortcut icon" href="../assets/icons/logo.ico" type="image/ico">
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!-- main.css -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="bg-night">
    <!-- Vista principal -->
    <main class="overlay">
      <div class="container">
        <div class="row">
          <div class="container-flex-column high">
            <div class="col-xs-offset-3 col-xs-6">
              <img class="img-responsive" src="../assets/images/logo-white.png" alt="Logo blanco">
            </div>
            <img class="img-responsive" src="../assets/images/logo.png" alt="Logo doble">
            <div class="col-xs-offset-1 col-xs-10">
              <div class="container-flex-row">
                <a href="log-in.html" type="button" class="btn btn-white">LOG IN</a>
                <a href="sign-up.html" type="button" class="btn btn-white">SIGN UP</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Import jQuery -->
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <!-- Import Bootstrap JS -->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
