<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Inspected</title>
    <!-- Icons -->
    <link rel="shortcut icon" href="../assets/icons/logo.ico" type="image/ico">
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!-- main.css -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <main>
      <div class="container-flex-column">
        <div class="container-flex-row">
          <a href="register.html" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </a>
        </div>
        <h1>Sign Up</h1>
        <p>Join now for the ride credit</p>
        <hr>
        <form class="sign-up" method="post">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input id="firstName" type="text" class="form-control" placeholder="First name" aria-describedby="basic-addon1">
            <input id="lastName" type="text" class="form-control" placeholder="Last name" aria-describedby="basic-addon1">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" aria-label="">
                  <span>I agree to Lyft's<a>Terms of Service</a></span>
                </span>
              </div>
            </div>
          </div>
          <button id="btnNext" type="button" class="btn btn-default" disabled>NEXT</button>
        </form>
      </div>
    </main>
    <!-- Import jQuery -->
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <!-- Import Bootstrap JS -->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- app.js -->
    <script type="text/javascript" src="../js/inspected.js"></script>
  </body>
</html>
