<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>App Lyft</title>
    <link rel="shortcut icon" href="../assets/icons/logo.ico" type="image/ico">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="high">
    <main>
      <!-- Botón de regreso -->
      <div class="return-button">
        <a href="home.html" type="button" class="btn back-button">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
      </div>
      <!-- Contenido de la vista -->
      <div class="container-flex-column centered-text">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <h3>Lo sentimos,<br>esta página está en construcción...</h3>
              <img class="img-responsive" src="../assets/images/disconnected.gif" alt="Desconectado">
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
