<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Log In</title>
    <!-- Icons -->
    <link rel="shortcut icon" href="../assets/icons/logo.ico" type="image/ico">
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!-- main.css -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="high">
    <main>
      <!-- Botón de regreso -->
      <div class="return-button">
        <a href="home.html" type="button" class="btn back-button">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
      </div>
      <!-- Contenido de la vista -->
      <div class="container-flex-column centered-text">
        <h3>Lo sentimos,<br>esta página está en construcción...</h3>
        <img class="img-responsive" src="../assets/images/disconnected.gif" alt="Desconectado">
      </div>
    </main>
    <!-- Import jQuery -->
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <!-- Import Bootstrap JS -->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
