<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Log In</title>
    <!-- Icons -->
    <link rel="shortcut icon" href="../assets/icons/logo.ico" type="image/ico">
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!-- main.css -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="container-flex-column">
            <div class="container-flex-row">
              <a href="register.html" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              </a>
            </div>
            <h3>Lo sentimos,<br>esta página está en construcción.</h3>
          </div>
        </div>
      </div>
    </main>
    <!-- Import jQuery -->
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <!-- Import Bootstrap JS -->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
